$primary-dark-color: rgb(0, 99, 26);
$primary-light-color: rgb(213, 213, 213);
$primary-lightest-color: rgb(255, 255, 255);
$grid-row-border: rgb(221, 221, 221);
$grid-row-hover: rgb(245, 245, 245);
$danger-color: rgb(184, 68, 68);