$transparentized-primary-dark-color: transparentize($primary-dark-color, 0.75);

@font-face {
  font-family: "touren";
  src:url("fonts/touren.eot");
  src:url("fonts/touren.eot?#iefix") format("embedded-opentype"),
  url("fonts/touren.woff") format("woff"),
  url("fonts/touren.ttf") format("truetype"),
  url("fonts/touren.svg#touren") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "touren" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "touren" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\61";
}
.icon-up:before {
  content: "\62";
}
.icon-down:before {
  content: "\63";
}
.icon-duration:before {
  content: "\64";
}
.icon-type:before {
  content: "\65";
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
}

h1{
  color: $primary-dark-color;
}

.content-area {
  padding: 40px 15px;
}

.header-carousel {
  max-height: 350px;
  overflow: hidden;
}

.header-logo {
  position: fixed;
  bottom: 100px;
  padding: 0 50px;
  max-width: auto;
}

@media only screen and (max-width: 1200px) {
  .header-logo{
    max-width: 500px;
  }
}

@media only screen and (max-width: 990px) {
  .header-logo{
    position: fixed;
    top: 75px;
    max-height: 13vh;
    margin-left: -2vh;
  }
}



.newest-posts {
  padding: 10vh 50px 50px 50px;
}

@media only screen and (max-width: 990px) {
  .newest-posts {
    padding: 20vh 50px 50px 50px;
  }

}

.mobile-placeholder {
  height: 70vh;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid lighten($primary-dark-color, 75%);
}

h3 {
  margin: 5px 5px;
}

.title-right {
  font-size: 0.5em;
  margin-top: 11px;
  margin-left: 20px
}

.title-right.type-select {
  margin-top: 10px;
}

.hide-links a {
  color: black;
  text-decoration: none;
  border: none;
  pointer-events: none;
}

.table > tbody > tr:first-child > td {
  border: none;
}

.page-content {
  padding: 0 20px;
}

.table-hover tbody tr {
  cursor: pointer;
}

.container, .form-control, .well {
  font-size: 18px;
}

.form-control {
  margin-top: 6px !important;
}

.error-404 h1 {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.well-home .list-group-item{
  margin: 0;
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid $grid-row-border;
}

.well-home .list-group-item:hover{
  background-color: $grid-row-hover;
  cursor: pointer;
}

.well-home .list-group-item:last-child{
  border: none;
}

.additional-info{
  font-size: 0.8em;
}

.additional-info-item{
  margin-right: 10px;
}

.icon{
  display: inline-block;
}

.additional-info .icon{
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

/* Grid Table */
.grid-table{
  margin-bottom: 50px;
}
.grid-table .row {
  border-bottom: 1px solid $grid-row-border;
  padding: 8px 4px;
}

.grid-table .row-header {
  color: $primary-dark-color;
  font-weight: bold;
  border-bottom: 2px solid $grid-row-border;
}

.grid-table.row-hover .row {
  cursor: pointer;
}

.grid-table.row-hover .row:hover {
  background-color: $grid-row-hover;
}

.grid-table.row-hover .row-header, .grid-table.row-hover .row-header:hover {
  cursor: inherit;
  background-color: inherit;
}

/* Article */
article h1 {
  margin-bottom: 0.8em;
}

.article-block {
  margin-left: 2vw;
  margin-bottom: 7vh;
  h3 {
    color: $primary-dark-color;
    margin-bottom: 0.8em;
    margin-left: -20px;
  }
  .article-line {
    padding: 5px 0px;
    border-bottom: 1px solid $transparentized-primary-dark-color;
  }
}

.bericht-block{
  margin-top: -3vh;
  h2{
    color: $primary-dark-color;
    margin-bottom: 0.8em;
  }
}

/* Navigation */
.navbar-inverse .navbar-brand {
  color: $primary-lightest-color !important;
  font-size: 1.6em;
}

li.switch a{
  color: $primary-lightest-color !important;
  font-size: 1.3em;
}

.navbar-inverse .navbar-nav {
  font-size: 1.1em;
}

.navbar-inverse {
  background-color: rgba($primary-dark-color, 0.85);
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .navbar-inverse {
    background-color: $primary-dark-color;
    border-bottom: none;
  }
}

.navbar-inverse .navbar-toggle {
  background-color: darken($primary-dark-color, 5%) !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: $primary-light-color;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover
{
  background-color: $primary-dark-color;
}

.navbar-inverse .dropdown-menu {
  font-size: 1em;
}

.navbar-inverse .dropdown-menu {
  > li > a {
    color: $primary-dark-color;
  }
  > .active a{
    color: $primary-light-color !important;
  }
}

.footer{
  background-color: rgb(29, 29, 27);
  color:white;
  height:30px;
  overflow: hidden;
  p{
    display: inline-block;
    margin: 6px 20px;

    a{
      color: $primary-light-color;
    }
  }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: adjust-hue($primary-dark-color, 25%);
}

.well{
  background-color: rgba($primary-dark-color, 0.85);
  border: none;
  padding: 6px;
  border-radius: 6px;

  h3{
    margin: 5px;
    margin-top: 0;
    color: $primary-lightest-color;
  }

  ul{
    margin-bottom:0;
  }
}

/* Kontaktformular */
.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

label {
  margin-top: 5px;
  font-weight: normal;
}

label.required {
  font-weight: bold;
}

label.error {
  color: $danger-color;
}

/* SM */
@media only screen and (max-width: 768px) {

  .italic-sm {
    font-style: italic;
  }
}