.jugend .navbar{
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}
.jugend .navbar-inverse .navbar-brand{
    color: black;
}
.jugend .navbar-inverse .navbar-brand:hover{
    color: #555555;
}
.jugend .navbar-inverse .navbar-nav>li>a{
    color: black;
}
.jugend .navbar-inverse .navbar-nav>li>a:hover{
    color: #555555;
}
.jugend .navbar-inverse .navbar-nav>.active>a{
    background-color: white;
}
.jugend .text-muted{
    color:black
}