html{
    overflow-y: scroll;
}
body {
    padding-top: 50px;
}
.content-area {
    padding: 40px 15px;
}
.header-img {
    overflow: hidden;
    height: auto;
    width: 100%;
    vertical-align:middle;
}
.header-carousel {
    max-height: 350px;
    overflow: hidden;
}
.header-logo {
    position: absolute;
    top: 330px;
    right: 20px;
    max-width: 200px;
    height: auto;
}
.logo-col{
    padding-top: 70vh;
    padding-left: 20px;
}
.newest-posts{
    padding-top: 20vh;
    padding-bottom: 50px;
}
h3{
    margin: 5px 5px;
}
.th-inner a {
    color: black;
    text-decoration: none;
    border: none;
    pointer-events: none;
}

.table > tbody > tr:first-child > td {
    border: none;
}
.page-content {
    padding: 0 20px;
}