html{
    overflow-y: scroll;
}
body {
    padding-top: 50px;
}
.page-content {
    padding: 40px 15px;
    text-align: center;
}
.header-img {
    overflow: hidden;
    height: auto;
    width: 100%;
    vertical-align:middle;
}
.header-carousel {
    max-height: 350px;
    overflow: hidden;
}
.header-logo {
    position: absolute;
    top: 330px;
    right: 20px;
    max-width: 200px;
    height: auto;
}
.bootstrap-table {
    padding-top: 30px;
}
.logo-col{
    padding-top: 70vh;
    padding-left: 20px;
}
.newest-posts{
    padding-top: 20vh;
    padding-bottom: 50px;
}
h3{
    margin: 5px 5px;
}

.noresize {
    resize: none;
}

.vresize {
    resize: vertical;
}

.hresize {
    resize: horizontal;
}